@font-face {
    font-family: "myriad-cond-bold";
    src: url(./font/MYRIADPRO-BOLDCOND.OTF);
}
@font-face {
    font-family: "myriad-cond";
    src: url(./font/MYRIADPRO-COND.OTF);
}
body{/* retirar borda branca da página */
    font-family: myriad-cond-bold;
}

header{ /* cabechalho branco */
    position: relative;
    display: flex;
    height: 26vh;
    width: 100vw;
    background-color: white;
}
.logo-cngrafica{ /* Logotipo da Gráfica no Header, leva ao index.html */
    position: absolute;
    display: inline;
    height: 70%;
    top: 18%;
    left: 10%;
}
.box-social{ /* box com os link de redes sociais */
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 42%;
    height: 25%;
    right: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
}   
.logo-social{ /* Formataçã logotipos de redes sociais */
    position: relative;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;;
    margin: auto;
}
.menu{ /* Caixa do Menu - NAV */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 10%;
    width: 50vw;
    height: 6vh;
    z-index: +1;
}
.menu-item a{ /* itens do menu NAV */
    position: relative;
    display: block;
    background-color: white #8FC74A;
    text-decoration: none;
    color: #666666;
    text-transform: uppercase;
    font-size: 16pt;    
    padding: 8px 15px;
    white-space: nowrap;
}
footer{ /* rodapé da página, igual pra todas */
    position: relative;
    display: flex;
    align-items: center;
    height: 16vh;
    width: 100vw;
}
.rodape-cnpj{ /* escritas no rodapá da página */
    font-family: myriad-cond;
    font-size: 11pt;
    line-height: 120%;
    position: absolute;
    color: #666666;
    left: 10%;
}
.bandeiras-cartoes{
    position:absolute;
    right: 10%;
}

/* --------formatação do main conteudo e etc---------- */

.fundo-conteudo{ /* quadrado verde com conteúdo */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 52vh;
    background-color:#8FC74A;
}
.brindes-novo{ /* Escritas do Brindes NOVO */
    height: 90%;
    position: absolute;
    align-items: center;
    left: 18%;
}
.brindes-foto{ /* Imagem dos Brindes */
    height: 110%;
    position: absolute;
    bottom: 0;
    right: 20%;
}
.botao{ /* Botão download dos Catálogos */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;         
    width: 24%;
    min-width: 200px;
    height: 17%;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.30);
}
.botao img{/* Logo do botão de Download  */
    height: 75%;
    display: block;
    position: absolute;
    left: 10%;
}
.botao p{ /* Texto do botão de Download  */
    position: absolute;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    left: 30%;
    right: 10%;
}
.box-contato{ /* Box interior da página contatos */
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;

    height: 95%;
    width: 80%;
    background-color: #7ABA2C;

}
.botao-contato{ /* Botões da página contatos */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;         
    width: 24%;
    min-width: 200px;
    height: 17%;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.30);
}    
.botao-contato p{ /* Texto do Botões da página contatos  */
    position: absolute;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
}